<footer class="mastfoot text-center md:items-center md:self-center items-center items-baseline">
  <div class="flex justify-center gap-2 ml-20px mt-3 mb-2">
    <a name="link" class="text-center" href="https://www.twitter.com" aria-hidden="true"><img src="./assets/images/icons8-twitterx-60.svg" class="justify-between mx-4 hover:shadow-xl hover:shadow-white/90 rounded-full w-8"></img></a>
    <a name="link" class="text-center" href="https://www.facebook.com" aria-hidden="true"> <img src="./assets/images/icons8-facebook.svg" class="justify-between mx-4 hover:shadow-xl hover:shadow-white/90 rounded-full w-8"></a>
    <a name="link" class="text-center" href="https://www.instagram.com" aria-hidden="true"><img src="./assets/images/icons8-instagram-48.svg" class="justify-between mx-4 hover:shadow-xl hover:shadow-white/90 rounded-full w-8"></a>
  </div>
  <span id="atribution" class="description">
    <small class="text-stone-900">Atribution-NoComercial (CC BY-NC 4.0)</small>
  </span>
</footer>
