<!doctype html>
<html lang="en">

  <head class="masthead mb-auto">
    <meta charset="utf-8">
    <meta name="description" content="PEC3 Desenvolupament web II">
    <meta name="author" content="Anna Maria Monge Comas">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="dev, web, app">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="./assets/images/logo-tenis.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./assets/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss"><!-- do not remove this line! -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>UOC Boilerplate & pec3: HTML i CSS II</title>

  </head>
  <header>
    <!-- ======= dropdown ======= -->
    <div>
      <div class="dropdown inline-block relative mb-11 pb-4">
        <button class="text-gray-800 font-semibold py-2 px-4 rounded inline-flex items-center">
          <img name="tenis" src="./assets/images/logo-tenis.png" alt="Avatar Logo" class="rounded-pill w-10">
          <span class="mr-1"> Liga de tenis Roc</span>
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
        </button>
        <ul class="dropdown-menu absolute hidden text-white-700 pt-1">
          <li class="inicio"><a class="bg-gray-100 hover:bg-amber-300 py-2 px-4 block whitespace-no-wrap text-gray-800" href="./index.html">Inicio</a></li>
          <li class="equipo"><a class="bg-gray-200 hover:bg-amber-400 py-2 px-4 block whitespace-no-wrap text-gray-800" href="./equipo.html">Nuestro equipo</a></li>
        </ul>
      </div>
    </div>
  </header>
</html>